<!DOCTYPE html>
<html lang="en">
  <head>
    <title>How to Make Microsoft Teams Stay Green</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="How to Make Microsoft Teams Stay Green">
    <meta name="keyword" content="Microsoft Teams Stay Green, Teams Stay Green, How to Make Microsoft Teams Stay Green. eGuide">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' >

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.optimizely.com/js/6611953346.js"></script>
  
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="content" class="container">
      <header id="content-header">
        <div id="price-container">
          <span class="glyphicon glyphicon-tag"></span><span class="price">$8.99</span>
        </div>
        <%= image_tag('teamsstaygreen.png', id: 'content-header-img', alt: 'Teams Stay Green') %>
      </header>
  
      <%= yield %>
  
    </div>
  </body>
</html>
