<!DOCTYPE html>
<html lang="en">
  <head>
    <title>How to Make Microsoft Teams Stay Green - eBook | Teams Stay Green</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Discover how to keep Microsoft Teams in a constant green status with this comprehensive eBook, designed for professionals who want to stay online all day.">
    <meta name="keywords" content="Microsoft Teams Stay Green, Teams Stay Green, Teams Stay Green eBook, How to Make Microsoft Teams Stay Green eBook">
    <meta name="author" content="Lawrence Murry">
    <meta name="robots" content="index, follow">
    
    <!-- Canonical & Alternate Tags -->
    <link rel="canonical" href="https://teamsstaygreen.com/">
    <link rel="alternate" hreflang="en" href="https://teamsstaygreen.com/">
    
    <!-- Structured Data for SEO -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Teams Stay Green",
        "url": "https://teamsstaygreen.com/",
        "author": {
          "@type": "Person",
          "name": "Lawrence Murry"
        },
        "description": "Discover how to keep Microsoft Teams in a constant green status with this comprehensive eBook for professionals."
      }
    </script>
    
    <!-- Open Graph Meta Tags for Facebook and LinkedIn -->
    <meta property="og:title" content="How to Make Microsoft Teams Stay Green - eBook">
    <meta property="og:description" content="Discover how to keep Microsoft Teams in a constant green status with this comprehensive eBook, perfect for professionals who want to stay online all day.">
    <meta property="og:image" content="assets/teamsstaygreen.png"> <!-- Use the URL to your image -->
    <meta property="og:url" content="https://teamsstaygreen.com/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Teams Stay Green">
    <meta property="og:locale" content="en_US">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="How to Make Microsoft Teams Stay Green - eBook">
    <meta name="twitter:description" content="Discover how to keep Microsoft Teams in a constant green status with this comprehensive eBook, perfect for professionals who want to stay online all day.">
    <meta name="twitter:image" content="assets/teamsstaygreen.png"> <!-- Use the URL to your image -->
    <meta name="twitter:site" content="@yourtwitterhandle"> <!-- Add your Twitter handle here -->
    <!-- <meta name="twitter:creator" content="@yourtwitterhandle"> -->
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.optimizely.com/js/6611953346.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
  
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="content" class="container">
      <header id="content-header">
        <div id="price-container">
          <span class="glyphicon glyphicon-tag"></span><span class="price">$18.99</span>
        </div>
        <%= image_tag('teamsstaygreen.png', id: 'content-header-img', alt: 'Teams Stay Green') %>
      </header>
  
      <%= yield %>
  
    </div>

    <!-- DO NOT MODIFY -->
    <!-- Quora Pixel Code (JS Helper) -->
    <script>
      !function(q,e,v,n,t,s){if(q.qp) return; n=q.qp=function(){n.qp?n.qp.apply(n,arguments):n.queue.push(arguments);}; n.queue=[];t=document.createElement(e);t.async=!0;t.src=v; s=document.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s);}(window, 'script', 'https://a.quora.com/qevents.js');
      qp('init', '2d387d42d4ee416a9b7bc84208593d00');
      qp('track', 'ViewContent');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://q.quora.com/_/ad/2d387d42d4ee416a9b7bc84208593d00/pixel?tag=ViewContent&noscript=1"/></noscript>
    <!-- End of Quora Pixel Code -->

    <script>qp('track', 'Purchase');</script>

    <!-- Add event to the button's click handler -->
    <script type="text/javascript">
      qp('track', 'Purchase'); // Call this function when inline action happens
    </script>

    <script>qp('track', 'Purchase',{value: 18.99});</script>
  </body>
</html>
